@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Poppins";
    src: url("/src/Font/Poppins-Regular.ttf");
}

*{
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }